<!-- <p>change-password works!</p> -->
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">
            Change Password
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="fill" fxFlex>
                <input matInput formControlName="oldPassword" type="password" placeholder="Old Password">
                <mat-error *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
                    Old Password is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="newPassword" type="password" placeholder="New Password">
                <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                    New Password is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('required')">
                    Confirm Password is required
                </mat-error>

                <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
                    <span><b>New Password and Confirm Password doesn't match!</b></span> 
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click)="handleChangePassword()" [disabled]="!(changePasswordForm.valid && changePasswordForm.dirty) || validateSubmit()">Submit</button>

    <button mat-raised-button color="primary" mat-dialog-close="">Cancel</button>
</mat-dialog-actions>
